<section class="container">
    <p class="obs">Os campos obrigatórios estão marcados (<app-asterisco></app-asterisco>)</p>
    <form [formGroup]="signupForm" (ngSubmit)="cadastrarCliente()" class="formulario">
        <label for="firstName">Nome <app-asterisco></app-asterisco></label>
        <input 
        type="text" 
        id="firstName" 
        placeholder="Nome" 
        formControlName="firstName">
        <label for="lastName">Sobrenome <app-asterisco></app-asterisco></label>
        <input 
        type="text" 
        id="lastName" 
        placeholder="Sobrenome" 
        formControlName="lastName">
        <label for="username">Nome de usuário <app-asterisco></app-asterisco></label>
        <input 
        type="text" 
        id="username" 
        placeholder="Escolha um nome de usuário" 
        formControlName="username">
        <label for="email">E-mail <app-asterisco></app-asterisco></label>
        <input 
        type="email" 
        id="email" 
        placeholder="E-mail" 
        formControlName="email">
        <label for="password">Senha <app-asterisco></app-asterisco></label>
        <input 
        type="password" 
        id="password" 
        placeholder="Senha" 
        formControlName="password">
        <label for="telephone">Telefone <app-asterisco></app-asterisco></label>
        <input 
        type="number" 
        id="telephone" 
        placeholder="Telefone" 
        formControlName="telephone">
        <div formGroupName="address" class="formulario__address">
            <label for="line1">Logradouro <app-asterisco></app-asterisco></label>
            <input 
            type="text" 
            id="line1" 
            placeholder="Logradouro" 
            formControlName="line1">
            <label for="line2">Complemento <app-asterisco></app-asterisco></label>
            <input 
            type="text" 
            id="line2" 
            placeholder="Complemento" 
            formControlName="line2">
            <label for="city">Cidade <app-asterisco></app-asterisco></label>
            <input 
            type="text" 
            id="city" 
            placeholder="Cidade" 
            formControlName="city">
            <label for="country">País <app-asterisco></app-asterisco></label>
            <input 
            type="text" 
            id="country" 
            placeholder="País" 
            formControlName="country">
            <label for="postalCode">CEP <app-asterisco></app-asterisco></label>
            <input 
            type="number" 
            id="postalCode" 
            placeholder="CEP" 
            formControlName="postalCode">
        </div>
        <button type="button"></button>
        <button type="submit"></button>
    </form>
</section>