<app-header></app-header>
<main class="principal">
    <app-container imagem="section-1.jpg" texto="Seja bem-vindo(a) ao NightMall! Aqui somos especializados em produtos sortidos para devs!" [imgFirst]="true" [first]="true"></app-container>
    <app-container imagem="section-2.jpg" texto="Se você é da área de TI, esse lugar é ideal para você!" [imgFirst]="false"></app-container>
    <app-container imagem="section-3.jpg" texto="Aqui você encontra tudo o que precisa para a sua evolução na carreira: livros, notebooks, teclado, mouse, e muito mais..." [imgFirst]="true"></app-container>
    <app-container imagem="section-4.jpg" texto="O que está esperando? Corra logo e aproveite as ofertas!" [imgFirst]="false"></app-container>
</main>
<app-footer></app-footer>