.principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.principal__texto {
    color: var(--cor-2);
    font-size: 3rem;
}

.principal__botao {
    border: none;
    background: none;
    color: var(--cor-1);
    padding: 1rem;
    background-color: var(--cor-2);
    border-radius: 2rem;
    margin-top: 1rem;
    font-size: 1rem;
}

.principal__botao:hover {
    cursor: pointer;
}